.navbar-nav {
    width: 650px;
}


.collapse {
    margin-top: 12px;
}

.loginbtn {

    border: none;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
    margin-bottom: 18px;
    font-size: larger;
    color: rgba(0, 0, 0, 0.466);
}

.loginbtn:hover {
    color: rgb(0, 0, 0);
}

.signinbtn {
    border: none;
    background-color: rgb(255, 255, 255);
    margin-right: 100px;
    margin-bottom: 18px;
    font-size: larger;
    color: rgba(0, 0, 0, 0.466);
}

.signinbtn:hover {
    color: rgb(0, 0, 0);
}

.breadcrumb-item {
    padding-left: 160px;
    margin-top: 10px;
    font-size: small;
    color: rgba(0, 0, 0, 0.539);
}

.breadcrumb-item:hover {
    color: rgb(215, 61, 61);
}

#textcity {
    color: rgba(0, 0, 0, 0.169);
}

.dinepart {
    margin-left: 160px;
    margin-top: 40px;

}

.containern {
    display: flex;
    gap: 20px;
    margin-left: 150px;
    margin-top: 40px;
}

.inspire {
    height: 300px;
    width: 100%;
    background-color: rgb(248, 248, 248);
}

.items {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    /* font-size: smaller; */
    /* gap: 50px; */
    /* margin-left: 120px; */
}

.itemname {
    font-size: smaller;
    margin-left: 10px;
}

.insphead {
    padding-top: 30px;
    margin-left: 100px;
    font-size: 32px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-left: 150px;
}

.line {
    color: rgba(103, 102, 102, 0.112);
    width: 100%;
}

/* .dishes{
    margin-left: 30px; 
    } */

/* slider 2 */
.slider2 {
    height: 300px;
    width: 100%;
}

.sliderhead {
    font-size: 32px;
    margin-top: 10px
}

.swiper2 {

    width: 100%;
    height: 100px;
}

.swiper-slide2 {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide2 img {
    display: block;
    width: 10px;
    height: 10px;
    object-fit: cover;
}

/* .cafe{

} */
.cafelist {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    /* margin-left: 50px; */
}


@media only screen and (max-width: 1180px) {
    .insphead {
        display: none !important;
    }

    .sliderhead {
        display: none !important;
    }

    .loginbtn {
        display: none !important;
    }

    .signinbtn {
        display: none;
    }

    .inspire {
        height: 200px;
    }
}

@media only screen and (max-width: 330px) {
    .containern {
        display: none;
    }
}

@media only screen and (max-width: 990px) {
    .container {
        margin-left: 2px;
    }

    .breadcrumb-item {
        display: none !important;
    }

    .containern {
        margin-left: 50px;
    }

    .buttons {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .containern {
        margin-left: 30px;
    }

    .container {
        margin-left: 2px;
    }

    .breadcrumb-item {
        display: none !important;
    }
}

@media only screen and (max-width: 650px) {
    .container {
        margin-left: 2px;
    }

    .breadcrumb-item {
        display: none !important;
    }
}

@media only screen and (max-width: 450px) {
    .container {
        margin-left: 2px;
    }
}